@media (max-width: 992px) {
    
  
    .navbar {
      gap: 10px;
    }
  
    .cart-icon {
      border: 0px solid;
      height: 40px;
    }
  
    .navbar-list {
      position: absolute;
      top: 65px;
      left: 5%;
      right: 5%;
      width: 90%;
      flex-direction: column;
      background-color: var(--nav-bg);
      border: 2px solid var(--electric);
      border-top: 0px;
      border-radius: 0px 0px 15px 15px;
      align-items: flex-start;
      padding: 45px 30px;
      gap: 25px;
      z-index: 2;
      display: none;
    }
  
    .navbar-list a {
      font-size: 18px;
    }
  
    
    .menu-label {
      display: flex;
      order: 2;
      cursor: pointer;
    }
  
    .menu-label img {
      height: 20px;
      width: 25px;
    }
  
    .open-menu {
      display: flex;
    }

}

@media (max-width: 576px) {
  
  .cart {
    left: 0;
    width: 100%;
    border: none;
  }

  .cart-item {
    flex-wrap: wrap;
  }
}
  @media (max-width: 450px) {
    
    .cart {
      min-width: unset;
    }
    .cart-container {
      align-items: center;
    }
    .cart-item {
      width: 70%;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
    }
    .item-info {
      text-align: center;
    }
  }

    .popular .container .box{
      min-width: 250px;

}


@media (max-width:450px) {

  section{
    padding: 3rem 6%;

  }
    
  .title{
         font-size: 25px;
         position: relative;
         left: 30px;
         right: 30px;
       }
 
     }
     .popular .container .box{
      width: 10%;
       min-width: 325px;
      
     
     }
     .popular .box .content span{
       font-size: 20px;
     }
     .popular .box .content h2{
       font-size: 15px;
     }
     .popular .box .content p{
       font-size: 10px;
     }
     .popular  .box .btn{
       width: 100px;
     }
 
     footer .box-container .box a{
       padding: 10px 0 10px ;
       font-size: 10px;
     }
     .footer .credit{
       padding: 10px 0 5px;
       margin: 50px;
     }
    }

