@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
  }
  
  header {
    background: #252525;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    z-index: 999;
  }
    
  html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
 }

  section{
  padding: 2rem 9%;
  }

 body {
 background-color: #131415;

 }



  .logo {
    height: 60%;
  }

  .navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 30px;
}
.navbar-list a {
    color: #ffff ;
    font-size: 14px;
  }
  
  .navbar-list li:first-child > a {
    color: #ffff;
    font-weight: 600;
  }

  .cart-icon {
    border: 1px solid #FF9300;
    padding: 12px 18px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 14px;
    color: #ffff;
    cursor: pointer;
  }
  .menu-label {
    display: none;
  }

  .cart {
    position: absolute;
    top: -9px;
    right: 0;
    padding: 50px 30px;
    background: #252525;
    border-left: 1px solid var(--nav-bg);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 891px;
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }

  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cart::-webkit-scrollbar {
    display: none;
  }
  
  .cart h2 {
    color: #ffff;
    font-size: 22px;
    font-weight: 500;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 347px;
    height: 103px;
    background-color: #252525;
    box-shadow: 0px 0px 50px;
    border-radius: 15px;
  }
  
  .p-text-cart{
    width: 500;
    color: white;
    size: 14px;
    line-height: 18.34px;
  }
  .cart-item img {
    height: 62px;
    width: 62px;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
  }
  .item-title {
    color: white;
    font-weight: 500;
    font-size: 15px;
  }
  
  .item-bid {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FFA100 -0.81%, #FF005C 101.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    font-size: 19px;
  }
  
  .item-price {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
  }
  
  .item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
  }
  
  .item-quantity {
    color: gray;
  }
  
  .up {
    border: 1px solid #FC2933;
  }
  
  .down {
    background-color: #FFA400;
    border: 1px solid #FC2933;
  }

  .divider {
    margin-top: 20px;
    border: 0.5px solid #FC2933;
    width: 100%;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  
  .cart-total p {
    color: white;
    font-weight: 500;
    size: 22px;
    line-height: 28.83px;
  }
  
  .cart-total span {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }

  .open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }
  
  .empty-msg {
    color: grey;
    font-size: 14px;
  }  



  .btn-buy {
    width: 254px;
    height: 50px;
    font-size: 14px;
    color: white;
    border-radius: 15px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
/* Drop Shadow */

box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
border-radius: 15px;
  }
  
  .disabled {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
  }

  .overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; 
  
    /*Efecto de Glassmorphismo*/
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
  }
  
  
  .show-overlay {
    display: block;
  }
  
.cart-icon {
  transition: all 0.2s ease-out;
}

.cart-icon:hover {
  color: var(--electric);
  border-color: var(--electric);
  transition: all 0.2s ease-in;
}

/*Botones del carrito*/
.quantity-handler {
  transition: all 0.2s ease-in;
}

.quantity-handler:hover {
  cursor: pointer;
  background-color: var(--electric);
  transition: all 0.2s ease-in;
}

/*Botones comprar(carrito) y add(producto) y BENUCBER(Hero)*/
.btn-add,
.hero-info a {
  transition: all 0.2s ease-out;
}

.btn-add:hover,
.hero-info a:hover {
  background-color: var(--fire);
  transition: all 0.2s ease-in;}


  /* Hero */



/*Emcabezado*/

/* 
header{
  margin: auto;
  padding-bottom: 40px;
} */

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav p{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 17px;
  font-style: normal;
  padding: 1.8rem 0 0 1rem;
}

.container_nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 4rem;
  padding-right: 8rem;
}

.container_home{  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 8rem;
}

.icon_home{
  width: 23px;
}

.icon_cart{
  width: 30px;
}

.icon_profile{
  width: 25px;
}


  /*Zappi*/


.section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 70px;
}

.section-1{
  display: flex;
  flex-direction: column;
  padding: 0;
}

.section-1 h1{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
  font-style: normal;
  padding: 2rem 2rem 0 0;
}

.section-1 h2{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  padding: 2rem 2rem 0 0;
}

.section-1 h3{
  color: #FFFFFF;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  padding: 2rem 2rem 0 0;
}

.pizzas{
  padding: 0;
}

.btn_zappi{
  padding: 1rem 1rem 1rem 1rem;
  margin: 3rem 20rem 0 0;
  border-radius: 1.2rem;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  background: linear-gradient(90deg, #FFA100 20%, #FB103D 100%);
  font-size: 1.3rem;
  color: #FEFEFF;
}

.btn_zappi:hover{
  transform: scale(1.1);
}

/*Recomendaciones*/


.recomendaciones{
  display: flex;
  flex-direction: column;
}

.recomendaciones h3{
  color: #FFFFFF;
  font-weight: 500;
  font-size: 25px;
  font-style: normal;
  padding: 4rem 0 0 8rem;
}

.box_container{
  display: flex;
  flex-direction: row;
  padding: 3rem 3rem 5rem 5rem;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 1rem 2rem 1rem;
  margin: 3rem 1rem 5rem 2rem;
  border-radius: 1.8rem;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  background: #252525;
}

.box img{
  width: 110px;
  padding: 0;
  margin: 0 2rem 0 0;
}

.box_p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  text-align: left;
  padding: 0;
  margin: 0;
}

.box_p p1{
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  padding: 0;
  width: 200px;
}

.box_p p2{
  color: #FFFFFF;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  opacity: 0.3;
  padding: 0;
  width: 180px;
}

.box_p p3{
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  padding: 0;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box .btn_box{
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  margin: 3rem 1rem 3rem 0;
  border-radius: 1.8rem;
  border-style: none;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  background: linear-gradient(90deg, #FFA100 20%, #FB103D 100%);
  font-size: 1.3rem;
  color: #FEFEFF;
}

.btn_box:hover{
  transform: scale(1.1);
}



  
/* los mas populares section */

 .title{
  position: absolute;
  width: 278px;
  height: 23px;
  left: 120px;
  top: 1000px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 131.02%;
  color: #FFFFFF;
  
 }
.popular{
  text-align: center;

}

.popular .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  padding-top: 300px;


}

.popular .container .box{
  width: 23%;
  min-width: 250px;
  padding: 12px 12px;
  border: 1px solid #252525;
  cursor: pointer;
  background-color: #252525;
  margin: 15px 0;
  border-radius: 20px;
  box-shadow: 30px 20px 20px rgba(0,0,0, 0.02);
  position: relative;

}


.popular .box img{
  width: 100%;
  border-radius: 16px;
 
}

.popular .box .content{
  text-align: left;
  padding: 10px 0;;
}

.popular .box .content span{
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 131.02%;
}

.popular .box .content h2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 131.02%;

color: #FFFFFF;
}

.popular .box .content p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.5px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.3;
}

.popular  .box .btn{
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
border-radius: 17.5px;
width: 80px;
height: 30px;

}
.popular .box .btn a{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.5px;
color: #FFFFFF;
position: absolute;
top: 5px;
left: 2px;
right: 2px;
}

.popular .container .box .btn {
  position: absolute;
  bottom: 10px;
  right: 10px;

}


  /* categories */

  #products h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 131.02%;
    /* or 29px */
     color: #FFFFFF;
padding: 30px 0 30px;
  } 

  .categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .category{
    background:#252525;
    border: none;
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
  }
  .active{
    background: #FFA100;
  }




/* .products */

.products-container{
  display: flex;
 flex-wrap: wrap;
gap: 1.5rem;

}
 .products-container .box {
  flex: 1 1 30rem;
  border: 1px solid #252525;
  cursor: pointer;
  background-color: #252525;
  margin: 15px 0;
  border-radius: 20px;
  position: relative;
}

.box .content{
padding-top: 10px;
text-align:left;

}


.products-container .box img{
  height: 20rem;
  border-radius: 16px;
  text-align: center;

 }

.products-container .box .content span{
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
padding-top: 5px;
}


.products-container .box .content h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 131.02%;
  color: #FFFFFF;
  text-align: left;
  padding-top: 15px;
} 

 .products-container .box .content p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.5px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.3;
padding-top: 5px;
}
.content .btn {
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}
.btn-add{
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 17.5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  
  }




.btn-load {
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 17.5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;

}



/* <-------------Footer-------> */

.footer {
  padding: 60px 0;
}
.footer .box-container{
 text-align: center;

}


.footer .box-container .box-foot a{
  display: row;
  color: #FFFFFF;
  font-size: 10px;
  padding: 16px 0 15px;
  margin: 15px;
  
}

.footer .box-container .box a:hover{
  color:#FF9300;
  text-decoration: underline;
}
.footer .credit {
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
 font-weight: 400;
 font-size: 10px;
 line-height: 131.02%;
 padding: 40px 0 30px;
}

.footer .credit span{
  text-transform: uppercase;
  font-weight: bold;
  color: #FF9300;

}