@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
  }
  
  header {
    background: #252525;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    z-index: 999;
  }
    
  html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
 }

  section{
  padding: 2rem 9%;
  }

 body {
 background-color: #131415;

 }



  .logo {
    height: 60%;
  }

  .navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 30px;
}
.navbar-list a {
    color: #ffff ;
    font-size: 14px;
  }
  
  .navbar-list li:first-child > a {
    color: #ffff;
    font-weight: 600;
  }

  .cart-icon {
    border: 1px solid #FF9300;
    padding: 12px 18px;
    font-weight: 600;
    border-radius: 10px;
    font-size: 14px;
    color: #ffff;
    cursor: pointer;
  }
  .menu-label {
    display: none;
  }

  .cart {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    border-left: 1px solid var(--nav-bg);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    z-index: 2;
    min-width: 375px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }

  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .cart::-webkit-scrollbar {
    display: none;
  }
  
  .cart h2 {
    color: #ffff;
    font-size: 20px;
    font-weight: 600;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #2323234e;
    padding: 20px;
    border: 1px solid #FC2933;
    border-radius: 10px;
  }
  
  .cart-item img {
    height: 65px;
    width: 65px;
  }
  
  .item-info {
    display: flex;
    flex-direction: column;
    min-width: 110px;
  }
  .item-title {
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
  
  .item-bid {
    color: gray;
    font-weight: 300;
    font-size: 12px;
  }
  
  .item-price {
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-size: 16px;
    font-weight: 800;
  }
  
  .item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
  }
  
  .item-quantity {
    color: gray;
  }
  
  .up {
    border: 1px solid #FC2933;
  }
  
  .down {
    background-color: #FFA400;
    border: 1px solid #FC2933;
  }

  .divider {
    margin-top: 20px;
    border: 0.5px solid #FC2933;
    width: 100%;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
  }
  
  .cart-total p {
    color: white;
    font-weight: 700;
  }
  
  .cart-total span {
    color: white;
    font-weight: 400;
    font-size: 18px;
  }

  .open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }
  
  .empty-msg {
    color: grey;
    font-size: 14px;
  }  

/* ===========products section (most popular)========== */

 .title{
  position: absolute;
  width: 278px;
  height: 23px;
  left: 120px;
  top: 450px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 131.02%;
  /* or 29px */
   color: #FFFFFF;
} 

.popular{
  text-align: center;

}

.popular .container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  padding-top: 500px;


}

.popular .container .box{
  width: 23%;
  min-width: 250px;
  padding: 12px 12px;
  border: 1px solid #252525;
  cursor: pointer;
  background-color: #252525;
  margin: 15px 0;
  border-radius: 20px;
  box-shadow: 30px 20px 20px rgba(0,0,0, 0.02);
  position: relative;

}


.popular .box img{
  width: 100%;
  border-radius: 16px;
 
}

.popular .box .content{
  text-align: left;
  padding: 10px 0;;
}

.popular .box .content span{
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 131.02%;
}

.popular .box .content h2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 131.02%;

color: #FFFFFF;
}

.popular .box .content p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.5px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.3;
}

.popular  .box .btn{
background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
border-radius: 17.5px;
width: 80px;
height: 30px;

}
.popular .box .btn a{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.5px;
color: #FFFFFF;
position: absolute;
top: 5px;
left: 2px;
right: 2px;
}

.popular .container .box .btn {
  position: absolute;
  bottom: 10px;
  right: 10px;

}


  /* categories */

  #products h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 131.02%;
    /* or 29px */
     color: #FFFFFF;
padding: 30px 0 30px;
  } 

  .categories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .category{
    background:#252525;
    border: none;
    padding: 10px 15px;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
  }
  .active{
    background: #FFA100;
  }




/* .products */

.products-container{
  display: flex;
 flex-wrap: wrap;
gap: 1.5rem;

}
 .products-container .box {
  flex: 1 1 30rem;
  border: 1px solid #252525;
  cursor: pointer;
  background-color: #252525;
  margin: 15px 0;
  border-radius: 20px;
  position: relative;
}

.box .content{
padding-top: 10px;
text-align:left;

}


.products-container .box img{
  height: 20rem;
  border-radius: 16px;
  text-align: center;

 }

.products-container .box .content span{
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 20px;
padding-top: 5px;
}


.products-container .box .content h3{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 131.02%;
  color: #FFFFFF;
  text-align: left;
  padding-top: 15px;
} 

 .products-container .box .content p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.5px;

color: #FFFFFF;

mix-blend-mode: normal;
opacity: 0.3;
padding-top: 5px;
}
.content .btn {
  display: flex;
  justify-content: right;
  padding-bottom: 10px;
}
.btn-add{
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 17.5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  border: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  
  }




.btn-load {
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 17.5px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  color: #FFFFFF;
  text-align: center;

}



/* <-------------Footer-------> */

.footer {
  padding: 60px 0;
}
.footer .box-container{
 text-align: center;

}


.footer .box-container .box-foot a{
  display: row;
  color: #FFFFFF;
  font-size: 10px;
  padding: 16px 0 15px;
  margin: 15px;
  
}

.footer .box-container .box a:hover{
  color:#FF9300;
  text-decoration: underline;
}
.footer .credit {
  text-align: center;
  color: #FFFFFF;
  font-style: normal;
 font-weight: 400;
 font-size: 10px;
 line-height: 131.02%;
 padding: 40px 0 30px;
}

.footer .credit span{
  text-transform: uppercase;
  font-weight: bold;
  color: #FF9300;
}